@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Solucion Completa</h1>
    <h2 class="display-5">William Ramirez</h2>
    <p>Solucion Completa para programación IV.</p>
    <p>Esta es la aplicación Web MVC.</p>
</div>